*.apk
*.o
*.d
*.class
*.so
*.bak
*.bak.meta
.svn/*
.DS_Store
*.orig
*.orig.meta
*.obj
*.log
*.tlog
*.idb
*.pdb
*.sdf
*.user
*.user.*
*.opensdf
*.ipch
*.class
*.suo
*bin*
*R.java
*Debug.win32
*Release.win32
*.gradle*
*.idea
*.xcuserstate
*.pbxuser
project.xcworkspace
*.perspective
*.perspectivev3
build
local.properties 

Project/projects/proj.ios_mac/AdsPhunware.xcodeproj/xcuserdata
Project/projects/proj.android-studio/app/obj
Project/projects/proj.android-studio/app/build
Project/projects/proj.android-studio/app/libs/armeabi